@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg')
}

#of_container #of-nav li a,
#of_container #of-nav ul li a:link,
#of-nav ul li a:visited {
    background: none;
    padding-left: 10px !important;
}

#testimonial_featured_image {
    width: 80px;
}

.testimonial_featured_image {
    text-align: center;
}

.testimonial_featured_image img {
    display: inline-block;
    border-radius: 50%;
    width: 48px !important;
    height: auto !important;
}

.testimonial_featured_image small {
    position: relative;
    top: 10px;
}

.executor .wp-list-table td, .executor .wp-list-table th {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.executor .wp-list-table tfoot, .executor .tablenav.bottom {
    display: none;
}

.scrollable {
    position: relative;
}

#header-fixed {
    background-color: white;
    position: absolute;
    top: 30px;
    text-align: left;
    /*width: calc(100% - 205px) !important;*/
    /*right: 20px;*/
    left: 0;
    height: 80px;
    display: none;
}

.column-decision_date {
    width: 65px;
}

.column-sended_1C {
    width: 48px;
}

.column-product_article a, td.product_title.column-product_title a {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

td.kapsula_decision.column-kapsula_decision {
    max-width: 100px;
}

td.product_delivery.column-product_delivery {
    max-width: 90px;
}

th#product_size {
    padding: 0;
}

#resultLoading {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

#resultLoading .bg {
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#resultLoading > div:first-child {
    width: 250px;
    height: 75px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 16px;
    z-index: 10;
    color: #ffffff;
}

#resultLoading > div img {
    width: 44px;
    height: 44px;
}

form#products-availability {
    overflow-x: scroll;
}

.executor .widefat td, .executor .widefat th, .executor .widefat select, .executor .widefat textarea, .executor .widefat input {
    font-size: 11px;
}

.executor .widefat input {
    height: 28px;
}

.executor .widefat th.sortable a span.sorting-indicator {
    width: 10px;
    visibility: hidden;
    display: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    margin-top: 0;
}

.executor .widefat th.sortable a {
    position: relative;
}


.executor .widefat th.column-order_date,
.executor .widefat th.column-order_id,
.executor .widefat th.column-product_article,
.executor .widefat th.column-product_title,
.executor .widefat th.column-product_size,
.executor .widefat th.column-product_delivery {
    background: #fef7f1;
}

.executor .widefat th.column-product_designer_stock_status,
.executor .widefat th.column-product_designer_date_shipment,
.executor .widefat th.column-product_designer_status_shipment,
.executor .widefat th.column-shipment_invoice,
.executor .widefat th.column-designer_comment {
    background: #08e1a2;
}

.executor .widefat th.column-kapsula_decision,
.executor .widefat th.column-decision_date,
.executor .widefat th.column-sampling_date,
.executor .widefat th.column-kapsula_comment {
    background: #7030a0;
    color: #fff;
}

.executor .widefat th.column-kapsula_decision a,
.executor .widefat th.column-decision_date a,
.executor .widefat th.column-sampling_date a,
.executor .widefat th.column-kapsula_comment a {
    color: #fff;
}

.executor .widefat td.changed-td {
    background: #ffff00;
}

.executor .actions .form-group {
    float: left;
    margin-right: 10px;
}

.executor .actions:after {
    content: "";
    display: block;
    clear: both;
}

.executor .actions .form-group label {
    display: block;
    line-height: 21px;
    margin-bottom: 5px;
}

.clear {
    display: block;
    clear: both;
}

p.search-box {
    margin-top: 25px;
}

.btn-group > .btn, .btn-group-vertical > .btn {
    position: relative;
    float: left
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
}

.dropdown {
    position: relative
}

.dropdown-toggle:focus {
    outline: 0
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #222
}

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    color: #777
}

.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    cursor: not-allowed
}

.open > .dropdown-menu {
    display: block
}

.open > a {
    outline: 0
}

.dropdown-menu-right {
    left: auto;
    right: 0
}

.dropdown-menu-left {
    left: 0;
    right: auto
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-group > .btn, .btn-group-vertical > .btn {
    position: relative;
    float: left;
}

.bootstrap-select > .dropdown-toggle {
    width: 100%;
    padding-right: 25px;
    z-index: 1;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.bootstrap-select.btn-group .dropdown-menu li {
    position: relative;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-ok:before {
    content: "\e013";
}

.glyphicon-file::before {
    content: "";
}

.history-btn {
    border: 0;
    background: 0;
    padding: 0;
    cursor: pointer;
}

.history-btn .glyphicon {
    font-size: 20px;
}

.modal-open {
    overflow: hidden
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.modal.fade .modal-dialog {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out
}

.modal.in .modal-dialog {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0)
}

.modal-backdrop.in {
    opacity: .5;
    filter: alpha(opacity=50)
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px
}

.modal-header .close {
    margin-top: -2px
}

.modal-title {
    margin: 0;
    line-height: 1.42857143
}

.modal-body {
    position: relative;
    padding: 15px
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

.modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0
}

.modal-footer .btn-group .btn + .btn {
    margin-left: -1px
}

.modal-footer .btn-block + .btn-block {
    margin-left: 0
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
    }

    .modal-sm {
        width: 300px
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px
    }
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.modal-header .close {
    margin-top: -2px;
}

.history .modal-dialog {
    width: 100%;
    max-width: 900px;
}

.history table.products td {
    vertical-align: top;
}

.history table.products td ul {
    margin: 0;
}

.history table.products td .date {
    float: left;
    margin-right: 10px;
}

.column-order_id.not-change {
    color: #FF0000;
    font-weight: bold;
}

#the-list select {
    width: 100%;
}

tr.done-status {
    background: #ccc !important;
    opacity: 0.5;
}

th#product_designer_date_shipment, th#shipment_invoice, th#designer_comment {
    width: 110px;
}

th#kapsula_decision {
    width: 150px;
}

th#shop_manager, th#order_date {
    width: 80px;
}

/*#the-list td select, #the-list td input, #the-list td textarea {
	width: 100%;
}*/
.product_size {
    text-transform: capitalize;
}

.toplevel_page_product-designer .widefat #the-list .column-order_date, .toplevel_page_product-designer .widefat #the-list .column-order_total {
    width: auto;
}

td.changes-kapsula {
    background: #3BB9FF;
}

#product-filter .actions, #products-availability .actions {
    position: relative;
}

.update-products-amount.active {
    color: white !important;
    background-color: red !important;
    transform: none !important;
}

.update-products-amount.active:after {
    content: "ВЫ НЕ СОХРАНИЛИ ОБНОВЛЕНИЯ, НЕ ЗАКРЫВАЙТЕ СТРАНИЦУ, ЛИБО ОБНОВЛЕНИЯ БУДУТ УТЕРЯНЫ";
    display: block;
    color: red;
    position: absolute;
    left: 0;
    top: 30px;
    text-transform: uppercase;
}

.wp-core-ui .apply-sales {
    margin-top: 30px;
}

.capsula-settings .ajax-loader {
    margin-top: 10px;
}

.capsula-settings .ajax-loader.loading {
    display: block;
}

@media screen and (max-width: 1280px) {
    .toplevel_page_product-designer table.products.wp-list-table th {
        white-space: pre-wrap;
    }
}

@media screen and (max-width: 960px) {
    #header-fixed {
        width: calc(100% - 80px) !important;
    }
}

@media screen and (max-width: 782px) {
    #header-fixed {
        display: none !important;
    }
}

.designers-tracking,
.designers-tracking th {
    text-align: center;
}

.promo-banner-settings {
    padding: 10px;
    border: 1px solid black;
    margin: 10px 0;
}

.slick-column-name input[type="checkbox"] {
    -webkit-appearance: checkbox;
}

.wp-admin table.wp-list-table .column-name {
    width: 10%;
}

table.wp-list-table .column-product_cat, table.wp-list-table .column-product_tag {
    width: 10%!important;
}

.fixed .column-date {
    width: 12%;
}

.select2-container-multi .select2-choices .select2-search-field input {
    min-width: 150px;
}