.category-banners {
    display: flex;
    width: 100%;
    align-items: center;
}

.promo-banner {
    width: 50%;
}

.brand-description {
    padding: 0 40px;
    margin: 0;
}

.quick-view-modal .woocommerce .product .cart .add-to-wishlist-button {
    position: unset;
    display: block;
    margin: 0 20px;
    height: 80px;
    line-height: 80px;
    flex: none;
    background: transparent;
    color: #000;
}

.woocommerce-products-header .page-title {
    font-size: 30px;
}

.brand-description h2,
.brand-description h3,
.brand-description h4,
.brand-description h5 {
    text-align: center;
}

.product-summary .sale-percent {
    color: #838889;
    margin-left: 5px;
}

ul.products li.product .price del {
    margin: 0 5px 0 0;
    font-size: 100%;
    white-space: nowrap;
    vertical-align: baseline;
}

ul.products li.product .price ins {
    color: #E54A29;
    white-space: nowrap;
}

ul.products li.product .buttons {
    position: unset;
    padding-top: 0;
}

ul.products .price .sale-date-to {
    font-size: 14px;
}

ul.products .product-inner .add-to-wishlist-button {
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0;
    z-index: 9;
}

ul.products .product-inner .product-summary .add-to-wishlist-button {
    display: none;
}

ul.products .product-inner:hover .add-to-wishlist-button {
    opacity: 1;
}

ul.products .product-inner:hover .product-summary {
    transform: unset;
    padding-bottom: 0;
}

.product-summary .in-showroom {
    color: #838889;
    border: 1px solid #e6e6e6;
    display: block;
    text-align: center;
    text-transform: lowercase;
    line-height: 24px;
    margin-top: 5px;
}

.product-summary .product-sizes {
    display: none;
    color: #838889;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 10px;
    transition: all .3s ease;
}

.products-toolbar.layout-v2 .woocommerce-result-count {
    float: none;
    font-size: 16px;
    color: #838889;
    margin-right: 10px;
}

.filter-list-item .name {
    padding-right: 30px;
    word-break: break-word;
    line-height: 1;
    display: inline-block;
}

.filter-list-item .action-icon {
    font-size: 24px;
    font-weight: 300;
    line-height: 18px;
    transition: transform .4s ease;
    font-family: Georgia, sans-serif;
    position: absolute;
    right: 30px;
    top: 10px;
}

.filter-list-item .action-icon:before {
    content: "\2012";
}

.filter-list-item.children-closed .action-icon:before {
    content: "+";
}

.products-tools .products-filter-toggle {
    margin-right: 10px;
    top: 5px;
}

.products-tools .products-filter-toggle .remove-filtered {
    padding: 0 10px 0 10px;
    color: #161616;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    margin-right: 5px;
    margin-left: 0;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal;
    margin-bottom: 5px;
}

.products-tools .products-filter-toggle .remove-filtered .svg-icon {
    position: relative;
    margin-right: 4px;
    margin-left: 18px;
}

.products-tools .products-filter-toggle .remove-filtered .icon-close-mini:before,
.products-tools .products-filter-toggle .remove-filtered .icon-close-mini:after {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 1px;
    background-color: #000;
    right: -5px;
    top: -5px;
}

.products-tools .products-filter-toggle .remove-filtered .icon-close-mini:after {
    transform: rotate(-45deg);
}

.products-tools .products-filter-toggle .remove-filtered .icon-close-mini:before {
    transform: rotate(45deg);
}

.products-tools .products-filter-toggle .remove-filtered .icon-close-mini svg {
    display: none;
}

.shop-sidebar .products-filter-widget .widget-title {
    font-size: 24px;
}

.filters .filter > .filter-name {
    cursor: pointer;
    font-size: 20px;
}

.products-filter-widget .filter-list li {
    font-size: 20px;
    position: relative;
    padding-right: 20px;
}

.products-filter-widget .filter-list li.selected:after {
    content: "";
    position: absolute;
    right: 4px;
    top: 16px;
    width: 10px;
    height: 6px;
    border-left: 1px solid #161616;
    border-bottom: 1px solid #161616;
    transform: rotate(-45deg);
}

.filters .filter.list .filter-name.closed {
    margin-bottom: 5px;
}

.filter.list .filter-name .action {
    float: right;
    margin-top: 14px;
}

.filter.list .filter-name .action:before,
.filter.list .filter-name .action:after {
    content: '';
    display: block;
    width: 17px;
    height: 1px;
    opacity: 1;
    background-color: black;
    transition: all .4s ease;
}

.filter.list .filter-name .action:after {
    transform: rotate(0);
    opacity: 0;
}

.filter.list .filter-name.closed .action:after {
    transform: rotate(90deg);
    opacity: 1;
}

.filter.list .filter-control {
    transition: max-height .3s ease, opacity .2s ease;
    max-height: 4000px;
    opacity: 1;
    overflow: hidden;
}

.filter.list .filter-control.closed {
    max-height: 0;
    opacity: 0;
}

.filter.in_showroom .filter-name,
.filter.ready_to_delivery .filter-name {
    display: none;
}

.products-filter-widget .filter.in_showroom,
.products-filter-widget .filter.ready_to_delivery {
    margin-bottom: 28px;
}

.products-filter-widget .filter.in_showroom .filter-checkboxes-item,
.products-filter-widget .filter.ready_to_delivery .filter-checkboxes-item {
    padding-left: 0;
    padding-right: 30px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #161616;
}

.filter.in_showroom .filter-checkboxes-item:before,
.filter.in_showroom .filter-checkboxes-item:after,
.filter.ready_to_delivery .filter-checkboxes-item:before,
.filter.ready_to_delivery .filter-checkboxes-item:after {
    left: auto;
    right: 0;
}

.sidebar-left .konte-container .widget-area {
    position: relative !important;
}

.products-toolbar.layout-v2 .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 8px;
}

.products-filter-widget .filter-list li.filter-list-child {
    transition: max-height .8s ease;
    overflow: hidden;
    max-height: 2000px;
    position: relative;
}

.products-filter-widget .filter-list li.filter-list-child:before {
    content: "";
    position: absolute;
    width: 1px;
    top: 20px;
    left: 0;
    height: calc(100% - 30px);
    background: #E3E7E8;
}

.products-filter-widget .filter-list li.filter-list-child .filter-list {
    margin-left: 30px;
}

.products-filter-widget .filter-list li.filter-list-child .filter-list li {
    font-size: 18px;
}

.products-filter-widget .filter-list li.filter-list-child.closed {
    max-height: 0;
    padding: 0;
    visibility: hidden;
}

.products-tools .woocommerce-ordering .select2 .select2-selection--single .select2-selection__rendered {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 8px;
}

.products-toolbar.layout-v2 .woocommerce-ordering .select2-container {
    height: 38px;
}

.next-posts-navigation a {
    width: 122px;
    height: 122px;
    font-size: 14px;
    font-weight: 500;
}

.products-filter-widget .price_slider_amount .price_label {
    font-size: 20px;
    font-weight: normal;
}

.products-toolbar.layout-v2 .woocommerce-ordering {
    float: right;
    z-index: 99;
}

.button.reset-button {
    width: 100%;
}

.shop-sidebar .products-filter-widget .products-loader {
    display: none;
}

#primary.content-area + div {
    height: auto !important;
}

.products-filter-widget .filter-checkboxes-item:before,
.products-filter-widget .filter-checkboxes-item:after {
    margin-right: 0;
}

@media all and (min-width: 992px) {
    .filter.product_brand > .filter-control > .filter-list {
        max-height: 500px;
        overflow-y: auto;
    }
}

@media all and (max-width: 1440px) and (min-width: 992px) {
    .shop-sidebar .products-filter-widget .widget-title {
        font-size: 20px;
    }

    .shop-sidebar .products-filter-widget .filter {
        padding-bottom: 18px;
        margin-bottom: 24px;
    }

    .filter.list .filter-name .action {
        margin-top: 10px;
    }

    .filters .filter > .filter-name {
        font-size: 16px;
    }

    .products-filter-widget .filter-list li {
        font-size: 16px;
    }

    .products-filter-widget .filter-list li.filter-list-child .filter-list li {
        font-size: 14px;
    }

    .products-filter-widget .filter-list li.filter-list-child .filter-list {
        margin-left: 20px;
    }

    .filter-list-item .action-icon {
        line-height: 6px;
    }

    .filter-list-item.children-closed .action-icon {
        line-height: 10px;
    }

    .products-filter-widget .filter-list li.selected:after {
        top: 12px;
    }

    .products-filter-widget .filter.in_showroom .filter-checkboxes-item,
    .products-filter-widget .filter.ready_to_delivery .filter-checkboxes-item,
    .filter.in_showroom .filter-checkboxes-item,
    .filter.ready_to_delivery .filter-checkboxes-item {
        font-size: 16px;
        line-height: 26px;
    }
}

@media all and (max-width: 1199px) {
    ul.products {
        margin: 0 -10px;
    }

    ul.products li.product {
        padding: 0 10px;
    }

    .site-content ul.products li.product.display-video,
    .site-content ul.products li.product.display-full-width {
        width: 100%;
        height: auto;
    }

    li.product.display-video .product-thumbnail {
        display: none;
    }

    li.product.display-video video {
        width: 100%;
        height: auto;
    }

    .sidebar-left .konte-container .widget-area {
        padding-right: 20px;
    }

    .filter-list .filter-list .filter-list .filter-list-item .name {
        padding-right: 0;
    }
}

@media all and (min-width: 767px) {
    .products-tools .toggle-filters {
        display: none;
    }
}

@media all and (max-width: 991px) {
    .widget-area.shop-sidebar.sticky-sidebar {
        display: none;
    }
}

@media all and (max-width: 767px) {
    body:not(.home):not(.product-template-default) #page.site {
        padding-top: 60px;
        position: relative;
    }

    body:not(.home):not(.product-template-default) header#masthead {
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 10;
    }

    body:not(.product-template-default) header#masthead {
        background: transparent !important;
        transition: background 0s !important;
    }

    body:not(.product-template-default) header#masthead.fixed {
        position: fixed;
        width: 100%;
        top: -60px;
        left: 0;
        transition: background 0s, transform 0.25s ease !important;
        transform: translateY(0);
        background: #fff !important;
    }

    body:not(.product-template-default) header#masthead.sticky {
        transform: translateY(100%);
    }

    .site-content-container.shop-content-container.konte-container {
        padding: 0;
    }

    .site-content-container.shop-content-container.konte-container .woocommerce-pagination,
    .site-content-container.shop-content-container.konte-container .products-toolbar {
        padding-left: 15px;
        padding-right: 15px;
    }

    .products-tools .toggle-filters {
        margin-right: 10px;
    }

    .woocommerce-products-header .breadcrumbs {
        display: none;
    }

    .woocommerce-products-header .page-title {
        font-weight: 400;
    }

    .promo-banner {
        width: 100%;
    }

    .promo-banner:not(:first-child) {
        display: none;
    }

    ul.products {
        margin: 0 -5px;
    }

    ul.products li.product {
        padding: 0 5px;
    }

    .products-tools {
        display: flex;
        flex-wrap: wrap;
    }

    .products-tools .products-filter-toggle {
        float: none;
        width: calc(100% + 30px);
        overflow-x: auto;
        display: flex;
        order: 1;
    }

    .products-tools .products-filter-toggle::-webkit-scrollbar {
        width: 0;
    }

    .products-tools:before,
    .products-tools:after {
        content: none;
    }

    .products-tools .products-filter-toggle .remove-filtered {
        display: inline-block;
        line-height: 30px;
        white-space: nowrap;
        margin-bottom: 0;
    }

    .products-toolbar.layout-v2 .woocommerce-ordering .select2-container {
        height: 30px;
    }

    .products-tools .woocommerce-ordering .select2 .select2-selection--single .select2-selection__rendered {
        font-size: 16px;
        padding-bottom: 0;
        border-bottom: none;
    }

    .products-toolbar.layout-v2 .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 10px;
    }

    .products-tools .woocommerce-ordering .select2 .select2-selection--single:hover .select2-selection__rendered:after {
        content: none;
    }

    .shop-sidebar .products-filter-widget .widget-title {
        font-size: 22px;
    }

    .filters {
        padding-left: 20px;
    }

    .shop-sidebar .products-filter-widget .filter {
        border-bottom: none;
        padding-bottom: 25px;
        margin-bottom: 25px;
    }

    .shop-sidebar .products-filter-widget .filter .filter-list {
        margin-left: 30px;
        position: relative;
    }

    .shop-sidebar .products-filter-widget .filter .filter-list:before {
        content: "";
        position: absolute;
        width: 1px;
        top: 10px;
        left: -30px;
        height: calc(100% - 15px);
        background: #E3E7E8;
    }

    .products-filter-widget .filter-list li {
        font-size: 18px;
    }

    .products-filter-widget .price_slider_amount .price_label {
        font-size: 16px;
    }

    .products-filter-widget .button.filter-button:hover,
    .products-filter-widget .button.filter-button:active {
        background-color: #DD6E3D;
    }
}

@media all and (max-width: 560px) {
    .products-toolbar.layout-v2 .woocommerce-result-count {
        margin-right: 0;
        width: 100%;
        order: -1;
        text-align: right;
    }

    .woocommerce-pagination {
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .woocommerce-pagination ul .page-numbers {
        display: none;
    }

    .woocommerce-pagination ul a.page-numbers.next,
    .woocommerce-pagination ul a.page-numbers.prev {
        display: inherit;
    }

    .woocommerce-pagination ul .page-numbers {
        transition: none;
    }

    .woocommerce-pagination ul .page-numbers:focus {
        background-color: #161619;
    }

    .woocommerce-pagination ul {
        display: flex;
        justify-content: space-between;
    }
}