.woocommerce-checkout .site-content-container.container {
    width: 1560px;
    max-width: calc(100% - 50px);
}

.checkout-side-info {
    padding: 20px;
    background-color: #FAFAFA;
}

.woocommerce-checkout .site-header,
.woocommerce-checkout .site-footer {
    display: none;
}

.woocommerce-checkout-review-order-table {
    width: 100%;
}

.breadcrumbs ul {
    text-align: center;
    padding: 0;
    margin: 0 0 80px;
    list-style: none;
}

.breadcrumbs ul li {
    display: inline-block;
    position: relative;
    line-height: 40px;
    font-size: 33px;
    color: #161616;
}

.breadcrumbs ul li:not(:first-child) {
    position: relative;
    padding-left: 34px;
}

.breadcrumbs ul li:not(:first-child):before {
    content: "";
    position: absolute;
    left: 8px;
    top: 57%;
    width: 12px;
    height: 12px;
    border-bottom: 2px solid #161616;
    border-right: 2px solid #161616;
    transform: translateY(-50%) rotate(-45deg);
}

#pys_landing_field,
#pys_source_field,
#pys_utm_field,
#pys_browser_time_field {
    height: 0;
}

@media screen and (min-width: 768px) {

    .breadcrumbs ul li:last-child {
        color: #838889;
    }

    .breadcrumbs ul li:last-child:before {
        border-color: #838889;
    }
}

.woocommerce-checkout-review-order-table th:first-child {
    vertical-align: baseline;
}

.woocommerce-checkout-review-order-table tfoot .shipping td li {
    width: 100%;
    margin-bottom: 20px;
}

.woocommerce-checkout-review-order-table tfoot .shipping-nova-poshta-warehouse td {
    padding: 0;
    border: none;
    max-width: 100%;
}

.woocommerce-checkout-review-order-table tfoot .shipping-nova-poshta-warehouse th {
    vertical-align: middle;
}

#shipping_nova_poshta_for_woocommerce_warehouse_field label {
    display: none;
}

.checkout-login {
    width: 50%;
    float: none;
    margin: 0 auto 43px;
}

.checkout-coupon {
    width: 100%;
    margin: 0;
}

.form-row {
    text-align: left;
}

.form-row-first {
    width: 60%;
}

.form-row-last {
    width: 40%;
}

form.woocommerce-checkout .woocommerce-input-wrapper,
form.woocommerce-checkout .select2-container,
form.woocommerce-checkout .input-text {
    margin-right: 25px;
}

tr.fee {
    display: none;
}

form.woocommerce-checkout .form-row input.input-text {
    font-size: 20px;
    border-bottom-color: #e3e7e8;
}

form.woocommerce-checkout .form-row input.input-text:hover {
    border-bottom-color: #161619;
}

.shipping ul label:before,
.shipping ul label:after {
    width: 22px;
    height: 22px;
}

.checkout-product-item {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
}

.checkout-product-image {
    width: 135px;
}

.checkout-product-description {
    width: calc(100% - 135px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkout-product-title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.checkout-product-attributes {
    font-size: 16px;
    line-height: 25px;
    color: #808080;
    margin-bottom: 17px;
}

.checkout-product-price {
    font-size: 16px;
    line-height: 25px;
}

.checkout-side-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    line-height: 25px;
    margin: 5px 0;
}

.checkout-side-item .-value {
    font-weight: 500;
}

.checkout-side-item.-total .-value {
    font-size: 22px;
}

.checkout-side-info hr {
    height: 2px;
    margin: 15px 0;
    background: #E5E6E8;
}

.checkout-side-discount {
    font-size: 14px;
    color: #828282;
}

.checkout-side-info .checkout-coupon {
    display: block;
    width: 100%;
}

.checkout-side-info .checkout-coupon .woocommerce-form-coupon-toggle {
    display: none;
}

.checkout-side-info .checkout-coupon .checkout_coupon {
    display: block !important;
    width: 100%;
}

.checkout-side-info .checkout-coupon .checkout_coupon p:first-child {
    display: none;
}

.checkout-side-info .checkout-coupon .checkout_coupon #coupon_code {
    padding: 0;
    width: 100%;
    background: none;
}

.checkout-side-info .checkout-coupon .checkout_coupon .form-row-first {
    width: 100%;
}

.checkout-side-info .checkout-coupon .checkout_coupon .form-row-last {
    margin: 0;
    position: relative;
}

.checkout-side-info .checkout-coupon .checkout_coupon .button {
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 20px;
    width: auto;
    padding: 0;
    line-height: 24px;
    background: none;
    color: #161616;
    font-size: 14px;
}

#ship-to-different-address label.woocommerce-form__label-for-checkbox {
    padding-left: 0;
    font-weight: 500;
    font-size: 20px;
}

#ship-to-different-address label.woocommerce-form__label-for-checkbox span:before {
    content: "+ ";
    position: static;
    width: auto;
    height: auto;
    background: none;
    border: none;
}

#ship-to-different-address label.woocommerce-form__label-for-checkbox span:after {
    content: none;
}

.terms-and-conditions-text {
    color: #838889;
}

.place-order .button#place_order {
    display: none;
}

.checkout-step-buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: calc(100% + 60px);
    left: 0;
    padding: 0 15px;
    width: calc(100% + 33.4%);
}

.checkout-step-buttons .button,
.checkout-step-buttons button {
    line-height: 68px;
    font-size: 20px;
    width: 374px;
    max-width: 50%;
    font-weight: 500;
    text-transform: uppercase;
}

.checkout-step-buttons .button:hover,
.checkout-step-buttons button:hover {
    background: #DD6E3D;
}

.checkout-step-buttons .button.-first {
    background-color: transparent;
    line-height: 64px;
    border: 2px solid #161616;
    color: #161616;
}

.checkout-step-buttons .button.-first:hover {
    color: #fff;
    background-color: #161616;
}

.checkout-step-buttons + .woocommerce-terms-and-conditions-wrapper {
    display: none;
}

#order_review_heading {
    display: none;
}

.woocommerce-additional-fields {
    border-bottom: none;
}

#order_comments_field {
    margin-bottom: 0;
}

.woocommerce-additional-fields__field-wrapper > h4 {
    font-size: 18px;
    float: left;
    width: 195px;
    margin: -0.1667em 0 0 0;
}

.checkout-login .woocommerce-info {
    background: #FAFAFA;
}

.payment_method_platononline_fullprice label img {
    display: none;
}

.payment_box.payment_method_platononline_fullprice {
    display: none !important;
}

.shop_table tr.fee {
    display: none;
}

.small-description {
    opacity: 0.5;
}

.fields-connection {
    display: flex;
}

.fields-connection h4 {
    width: 250px;
    padding-right: 40px;
    padding-top: 33px;
}

.fields-connection .fields-connection-checkbox-wrap {
    width: calc(100% - 250px);
}

.fields-connection .fields-connection-checkbox-wrap.-flex {
    display: flex;
}

#order_comments_field label {
    display: none;
}

form.woocommerce-checkout .fields-connection-checkbox-wrap .form-row label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
}

form.woocommerce-checkout .fields-connection-checkbox-wrap .form-row label input {
    display: none;
}

form.woocommerce-checkout .fields-connection-checkbox-wrap .form-row label .optional {
    display: block;
    text-indent: -9999px;
    position: absolute;
    left: 0;
    top: 4px;
    width: 20px;
    height: 20px;
    border: 1px solid #e3e7e8;
    background: #e3e7e8;
}

form.woocommerce-checkout .fields-connection-checkbox-wrap .form-row label input:checked ~ .optional {
    border-color: #161619;
    background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMnB4IiBoZWlnaHQ9IjEycHgiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTIgMTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxnPjxwb2x5Z29uIHBvaW50cz0iNC4xNzcsMTAuNTQzIDAuNDM0LDYuOCAxLjU2Niw1LjY2OCA0LjE3Nyw4LjI3OSAxMC40MzUsMi4wMjMgMTEuNTY1LDMuMTU1ICIvPjwvZz48L2c+PC9zdmc+) no-repeat center center;
}

.payment_method_platononline label img {
    display: none;
}

form.woocommerce-checkout .form-row.place-order {
    margin-top: 0;
    margin-bottom: 0;
}

form.woocommerce-checkout .form-row.place-order .woocommerce-terms-and-conditions-wrapper {
    margin-bottom: 0;
}

.woocommerce-checkout-review-order .woocommerce-checkout-payment {
    border-top: none;
}

.checkout-product-item-wrap {
    max-height: 580px;
    overflow: auto;
}

.woocommerce:after {
    content: " ";
    display: table;
    clear: both;
}

.shipping ul input + label,
.wc_payment_methods li > input + label {
    color: #161619;
}

.shipping ul :checked + label,
.shipping ul input[type="hidden"] + label,
.wc_payment_methods li > :checked + label {
    font-weight: bold;
}

/* sticky */

body.woocommerce-checkout .site {
    overflow-x: visible;
}

.entry-content > .woocommerce:first-child {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 130px;
}

.checkout-side-info {
    position: sticky;
    top: 0;
}

.payment_method_fondy img {
    display: none;
}

@media screen and (min-width: 1200px) {
    .woocommerce-checkout .entry-header {
        position: relative;
        padding: 0 250px;
    }

    .woocommerce-checkout .entry-header .site-branding {
        position: absolute;
        left: 0;
        top: 60%;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 1441px) {
    .woocommerce-checkout .entry-header .entry-title {
        margin-bottom: 80px;
    }

    .woocommerce-billing-fields h3 {
        font-size: 33px;
    }

    form.woocommerce-checkout .form-row label {
        font-size: 20px;
        flex-basis: 250px;
    }

    form.woocommerce-checkout .form-row input.input-text {
        font-size: 20px;
        border-bottom-width: 3px;
    }

    form.woocommerce-checkout .select2 .select2-selection--single {
        border-bottom-width: 3px;
    }

    form.woocommerce-checkout .select2-container .select2-selection--single .select2-selection__rendered {
        font-size: 20px;
    }

    h3#ship-to-different-address {
        padding-left: 250px;
    }

    .woocommerce-checkout-review-order-table th:first-child {
        width: 250px;
    }

    .woocommerce-checkout-review-order-table tfoot .shipping label {
        font-size: 20px;
    }

    .woocommerce-checkout-payment .payment_methods, .woocommerce-checkout-payment .place-order {
        margin-left: 250px;
    }
}

@media screen and (max-width: 1680px) {
    .woocommerce-checkout .site-content-container.container {
        width: 1360px;
    }
}

@media screen and (max-width: 1440px) {
    .woocommerce-checkout .site-content-container.container {
        width: 1240px;
    }

    .woocommerce .col-md-9 {
        width: 70%;
    }

    .woocommerce .col-md-3 {
        width: 30%;
    }

    .checkout-step-buttons {
        width: calc(100% + 42.9%);
    }

    .fields-connection h4 {
        width: 195px;
        padding-right: 30px;
    }

    .fields-connection .fields-connection-checkbox-wrap {
        width: calc(100% - 195px);
    }

    .woocommerce-billing-fields h3 {
        font-size: 30px;
        font-size: 1.875rem;
        font-weight: 500;
    }

    .checkout-product-item-wrap {
        max-height: 420px;
        overflow: auto;
    }
}

@media screen and (max-width: 1199px) {
    .woocommerce > .col-md-9 {
        width: 60%;
    }

    .woocommerce > .col-md-3 {
        width: 40%;
    }

    .checkout-step-buttons {
        width: calc(100% + 66.6%);
    }

    .fields-connection .fields-connection-checkbox-wrap.-flex {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 991px) {
    .breadcrumbs ul li {
        font-size: 22px;
        line-height: 30px;
    }

    .woocommerce {
        display: flex;
        flex-wrap: wrap;
    }

    .woocommerce > .col-md-9 {
        width: 100%;
        order: 1;
    }
    
    .woocommerce > .col-md-3 {
        width: 100%;
    }

    .checkout-step-buttons {
        margin-right: 0;
    }

    .checkout-step-buttons.step-1 {
        display: none !important;
    }

    .checkout-step-buttons.step-2 {
        display: flex !important;
        width: 100%;
    }

    .checkout-step-buttons .button.go-cart {
        display: block;
    }

    .shop_table.woocommerce-checkout-review-order-table {
        display: block !important;
    }

    .woocommerce-checkout-payment {
        display: block !important;
    }

    .checkout-step-buttons .button.hide-desctop {
        display: none;
    }

    .checkout-order-review-shipping,
    .checkout-order-review-payment {
        display: block !important;
    }

    .checkout-product-item-wrap {
        max-height: none;
        overflow: visible;
    }
}

@media screen and (max-width: 767px) {

    .place-order .woocommerce-terms-and-conditions-wrapper {
        display: none;
    }

    .woocommerce-checkout-review-order {
        margin: 0;
    }

    .woocommerce-checkout-payment > h4,
    .woocommerce-shipping-totals.shipping th {
        display: none;
    }

    .woocommerce-checkout-payment {
        padding-top: 0;
    }

    form.woocommerce-checkout .form-row {
        margin-top: 5px;
    }

    .woocommerce-checkout-review-order-table th:first-child {
        width: 100%;
        padding-bottom: 0;
    }

    .woocommerce-checkout-review-order-table tfoot td {
        text-align: left;
    }

    .woocommerce-checkout-review-order-table tfoot tr {
        display: block;
    }

    form.woocommerce-checkout .woocommerce-input-wrapper {
        max-width: 100%;
    }

    .woocommerce-checkout-review-order-table tr:last-child {
        border-bottom: 0;
    }

    .checkout-order-review-shipping {
        margin-bottom: 0;
    }

    .woocommerce-checkout-payment .payment_methods {
        padding-bottom: 0;
    }

    .woocommerce-account-fields {
        border-bottom: 0;
        padding-bottom: 0;
    }
    .woocommerce-checkout .site-content-container.container {
        max-width: 100%;
    }

    .woocommerce-checkout .site-branding {
        margin-bottom: 40px;
    }

    .woocommerce-checkout .site-branding .logo svg {
        width: 180px;
        height: 48px;
    }

    .breadcrumbs ul li {
        font-size: 20px;
    }

    .breadcrumbs ul li:not(:first-child) {
        padding-left: 24px;
    }

    .breadcrumbs ul li:not(:first-child):before {
        width: 8px;
        height: 8px;
        left: 5px;
        border-bottom-width: 1px;
        border-right-width: 1px;
    }

    .form-row-first {
        width: 100%;
    }

    .form-row-last {
        width: 100%;
    }

    .woocommerce-billing-fields h3 {
        font-size: 24px;
        margin-top: 30px;
        font-weight: 400;
    }

    .checkout-order-review-shipping,
    .checkout-order-review-payment {
        font-size: 24px;
        font-weight: 400;
    }

    form.woocommerce-checkout .form-row label {
        font-size: 20px;
    }

    form.woocommerce-checkout .select2-container .select2-selection--single .select2-selection__rendered {
        font-size: 20px;
    }

    form.woocommerce-checkout .form-row {
        margin-bottom: 30px;
    }

    .woocommerce-checkout-review-order-table tfoot tr {
        flex-wrap: wrap;
    }

    .woocommerce-shipping-totals.shipping th,
    .woocommerce-shipping-totals.shipping td {
        width: 100%;
    }

    .shop_table.woocommerce-checkout-review-order-table,
    .shop_table.woocommerce-checkout-review-order-table tfoot {
        display: block;
        max-width: 100%;
    }

    #ship-to-different-address label.woocommerce-form__label-for-checkbox {
        font-weight: normal;
    }

    body.woocommerce-checkout .site {
        overflow-x: hidden;
    }

    .entry-content > .woocommerce:first-child {
        margin-bottom: 0;
    }

    .checkout-step-buttons {
        flex-wrap: wrap;
        position: static;
        padding: 0;
    }

    .checkout-step-buttons .button,
    .checkout-step-buttons button {
        width: 100%;
        max-width: none;
        line-height: 60px;
        margin: 10px 0;
        font-size: 18px;
    }

    .checkout-step-buttons .button.-first {
        line-height: 56px;
        order: 1;
    }

    .checkout-step-buttons + .woocommerce-terms-and-conditions-wrapper {
        display: block;
    }

    .checkout-side-info {
        padding: 0;
    }

    .checkout-login {
        width: 100%;
    }

    .entry-content {
        margin-left: -15px;
        margin-right: -15px;
    }

    .fields-connection {
        flex-wrap: wrap;
    }

    .fields-connection h4 {
        width: 100%;
        padding-right: 0;
        padding-top: 0;
    }

    .fields-connection .fields-connection-checkbox-wrap {
        width: 100%;
        margin-bottom: 30px;
    }

    .fields-connection .fields-connection-checkbox-wrap .form-row {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 380px) {
    .woocommerce-checkout .entry-header .entry-title {
        font-size: 38px;
    }
}

@media screen and (max-width: 380px) {
    .breadcrumbs ul li {
        font-size: 18px;
    }
}
