@font-face {
    font-family: 'futura-pt';
    src: url("../fonts/futura-pt/FuturaPT-Light.woff2") format("woff2"), url("../fonts/futura-pt/FuturaPT-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'futura-pt';
    src: url("../fonts/futura-pt/FuturaPT-Book.woff2") format("woff2"), url("../fonts/futura-pt/FuturaPT-Book.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'futura-pt';
    src: url("../fonts/futura-pt/FuturaPT-Medium.woff2") format("woff2"), url("../fonts/futura-pt/FuturaPT-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'futura-pt';
    src: url("../fonts/futura-pt/FuturaPT-Demi.woff2") format("woff2"), url("../fonts/futura-pt/FuturaPT-Demi.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'futura-pt';
    src: url("../fonts/futura-pt/FuturaPT-Bold.woff2") format("woff2"), url("../fonts/futura-pt/FuturaPT-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'futura-pt';
    src: url("../fonts/futura-pt/FuturaPT-ExtraBold.woff2") format("woff2"), url("../fonts/futura-pt/FuturaPT-ExtraBold.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body {
    color: #161619;
    font-family: "futura-pt", sans-serif;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.55556;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
}

span.counter {
    display: none;
}

.main-navigation .mega-menu .hide-link > a {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.woocommerce div.product .variations_button .button {
    padding: 0;
}

.campaign-bar {
    padding: 0;
}

.campaign-bar .konte-container-fluid {
    margin: 0;
    padding: 0;
    width: 100%;
}

.campaign-bar__campaigns {
    margin: 0;
}

.konte-promotion.layout-inline .konte-promotion__text br {
    display: none;
}

.campaign-bar__campaigns .konte-promotion {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.konte-promotion.layout-inline .konte-button {
    text-transform: none;
    font-weight: 700;
    margin-left: 10px;
}

.textwidget p {
    max-width: 100%;
}

.single-product header.site-header,
.home header.site-header {
    position: absolute;
    width: 100%;
    z-index: 50;
}

.header-switcher .list-dropdown .current {
    padding: 0;
}

.header-switcher .list-dropdown .current:before,
.header-switcher .list-dropdown .current:after {
    border: none;
}

.breadcrumbs {
    font-size: 16px;
    font-weight: normal;
}

.header-account .account-links {
    display: none;
}

.mobile-menu__cart-icon,
.mobile-menu__wishlist-icon {
    position: relative;
}

.header-mobile .logo-svg {
    max-width: 130px;
    display: inline-block;
}

.header-mobile .logo-svg svg {
    width: 100%;
}

.nav-menu > li {
    padding: 0 12px;
}

.main-navigation li li a {
    font-size: 16px;
}

.main-navigation a {
    font-size: 20px;
}

.currency.list-dropdown ul {
    left: auto;
    right: 0;
}

.header-account > a {
    font-size: 18px;
}

/* product slider fixed styles */

ul.products li.product .product-inner .product-summary {
    overflow: hidden;
    position: relative;
    padding: 14px 20px 45px;
}

.product-summary .product-sizes {
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
    right: 20px;
    opacity: 0;
}

ul.products li.product .product-inner .price {
    transition: 0s;
}

ul.products li.product .product-inner .buttons {
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
    height: 30px;
    transform: translateY(200%);
}


/* cart popup */

.widget_shopping_cart_content .woocommerce-mini-cart-item__summary {
    align-items: flex-start;
}

.cart-panel .hamburger-menu .menu-text {
    font-size: 16px;
}

body .cart-panel .widget_shopping_cart_content .woocommerce-mini-cart-item__name {
    font-size: 20px;
    line-height: 25px;
    padding-right: 25px;
}

body .widget_shopping_cart_content .woocommerce-mini-cart-item__qty {
    font-size: 16px;
    margin-bottom: 16px;
    width: 100%;
}

body .widget_shopping_cart_content .woocommerce-mini-cart-item__qty .label {
    color: #808080;
    margin-right: 20px;
    line-height: 25px;
}

.widget_shopping_cart_content .woocommerce-mini-cart-item__qty select {
    border-bottom: none;
    line-height: 25px;
    padding-right: 15px;
}


body .widget_shopping_cart_content .woocommerce-mini-cart-item__qty .price {
    font-size: 14px;
    font-weight: normal;
    margin-top: 0;
    line-height: 25px;
}

.cart-panel .in-showroom {
    display: inline-block;
    min-width: 170px;
    padding: 0 20px;
    border: 1px solid #E3E7E8;
    border-radius: 2px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #808080;
}

body .cart-panel .widget_shopping_cart_content .buttons .button {
    border-width: 2px;
    margin-top: 0;
}

body .cart-panel .widget_shopping_cart_content .buttons .button.checkout {
    line-height: 62px;
    margin-bottom: 20px;
}

body .cart-panel .widget_shopping_cart_content .buttons .button.checkout:hover {
    background-color: #DD6E3D;
}

.cart-panel .woocommerce-mini-cart-item__summary .add-to-favorites {
    position: absolute;
    right: -3px;
    top: 0;
}

.cart-panel .woocommerce-mini-cart-item__summary .add-to-favorites .button {
    background: none;
    padding: 0;
    color: #161619;
    line-height: 1;
    text-align: right;
}

.checkout-coupon {
    display: none;
}

.woocommerce-mini-cart-item__qty select.pa_size-select {
    border: 1px solid #BBBABA;
    padding: 5px 25px 5px 10px;
    background-position: calc(100% - 12px) center;
    background-size: 12px auto;
    cursor: pointer;
    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxNHB4IiBoZWlnaHQ9IjE0cHgiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTQgMTQiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxwb2x5Z29uIHBvaW50cz0iNywxMC43NzMgMS41MzEsNi4zOTggMi40NjksNS4yMjcgNyw4Ljg1MSAxMS41MzEsNS4yMjcgMTIuNDY5LDYuMzk4ICIvPjwvZz48cmVjdCBmaWxsPSJub25lIiB3aWR0aD0iMTQiIGhlaWdodD0iMTQiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    -webkit-appearance: none;
    appearance: none;
    border-bottom-width: 1px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* emd */

table.wishlist_table td.product-add-to-cart .button.add_to_cart_button:hover {
    background-color: #DD6E3D;
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error {
    background-color: #BBDBD5;
    color: #161619;
}

.woocommerce-message .button,
.woocommerce-info .button,
.woocommerce-error .button {
    color: #161619;
}

.woocommerce-error {
    background-color: #ECB9CC;
}

.woocommerce-info {
    background-color: #F1DADE;
}

@media screen and (min-width: 767px){

    .product-inner:hover .product-summary .product-sizes {
        opacity: 1;
    }

    ul.products li.product .product-inner:hover .woocommerce-loop-product__title {
        opacity: 0;
        display: block;
    }

    ul.products li.product .product-inner:hover .product-summary {
        padding: 14px 20px 45px;
    }

    ul.products li.product .product-inner:hover .price {
        opacity: 0;
        display: block;
    }

    ul.products li.product .product-inner:hover .buttons {
        transform: translateY(0);
    }

    ul.products .product-inner:hover {
        color: #161619;
        background-color: #fff;
        box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.4s
    }

    ul.products .product-inner:hover .product-summary {
        transform: translateY(-40px);
        background-color: #fff;
    }

    ul.products .product-inner:hover .buttons {
        transform: none;
        opacity: 1;
    }

    ul.products li.product .product-inner:hover .product-summary .in-showroom {
        display: block;
        opacity: 0;
    }

    .product-inner:hover .product-summary .product-sizes {
        display: block;
    }

    .product-inner:hover .product-summary .woocommerce-loop-product__title,
    .product-inner:hover .product-summary .price {
        display: none;
    }

    .product-inner:hover .product-summary .in-showroom {
        display: none;
    }
}

ul.products li.product .product-summary .in-showroom {
    position: absolute;
    bottom: 14px;
    left: 20px;
    right: 20px;
}

ul.products li.product .product-inner .buttons .add_to_cart_button {
    width: auto;
    text-align: left;
}

ul.products li.product .product-inner .buttons .quick_view_button {
    width: auto;
    text-align: right;
}

.slick-dots li button {
    opacity: 1;
}

.slick-dots li button:before {
    opacity: 1;
    color: #cdcfd0;
    background: transparent;
}

.slick-dots li.slick-active button:before {
    color: #000;
    background: rgba(22, 22, 25, 0.1);
}

.footer-widgets {
    font-size: 18px;
}

.footer-main {
    font-size: 18px;
}

.footer-widgets .widget .social {
    background: transparent;
    color: #000;
    font-size: 18px;
}

.wpcf7-form span.ajax-loader {
    height: 100%;
}

.footer-widgets,
.footer-main {
    width: 1600px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.footer-widgets-area-2,
.footer-widgets-area-3,
.footer-widgets-area-4 {
    padding-top: 25px;
}

.footer-main .footer-right {
    flex-direction: row;
}

.footer-main .footer-right > * {
    margin: 0 20px 0 0;
}

.footer-main .footer-right > *:last-child {
    margin-right: 80px;
}

.slick-dotted.slick-slider {
    margin-bottom: 60px;
}

/* end */

.header-cart > a, .header-wishlist > a {
    position: relative;
}

.counter {
    font-size: 0;
    width: 8px;
    height: 8px;
    background: #DD6E3D;
    padding: 0;
    min-width: 8px;
    position: absolute;
    right: 0;
    top: 0;
}
.header-right-items .header-search.icon .search-field.focused {
    background: #fff;
    padding-left: 10px;
}

.header-right-items .header-search .quick-links {
    top: -24px;
}
/*.quick-links.open:before {
    content: "";
    position: fixed;
    width: 800px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.2);
}*/

.woocommerce div.product .single_add_to_cart_button {
    line-height: 80px;
    background: #DD6E3D;
    font-size: 20px;
    font-weight: normal;
}

.woocommerce div.product .single_add_to_cart_button:hover {
    background: #161619;
}

.woocommerce div.product .variations select {
    width: 100%;
    height: 56px;
    border: 1px solid #BBBABA;
    padding: 0 60px 0 19px;
    font-size: 19px;
    letter-spacing: 0.01em;
    background-position: calc(100% - 24px) center;
    background-size: 18px auto;
    cursor: pointer;
}

.woocommerce div.product .variations select:hover,
.woocommerce div.product .variations select:focus {
    border-color: #161619;
}

.woocommerce div.product .cart {
    margin-bottom: 64px;
}


.products-tools .products-filter-toggle .toggle-filters {
    margin-right: 15px;
    white-space: nowrap;
}

ul.products.layout-carousel .loading-placeholder .spinner {
    display: flex;
    background: inherit;
}

.products-toolbar.layout-v2 .woocommerce-ordering {
    float: none;
    order: 1;
    margin-left: auto;
}

.konte-promotion a {
    margin-left: 10px;
}

.konte-promotion a:after {
    width: 100%;
}

.konte-promotion .close-banner {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.konte-promotion .close-banner:before,
.konte-promotion .close-banner:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.konte-promotion .close-banner:before {
    transform: rotate(135deg) translate(1px, -1px);
}

.konte-promotion .close-banner:after {
    transform: rotate(45deg);
}

body.logged-in .header-right-items .header-account a {
    width: 20px;
    height: 20px;
    background: url("../img/user.svg") center center no-repeat;
    background-size: 100% 100%;
    text-indent: -9999px;
    text-align: left;
}

.notifyjs-corner {
    display: none;
}

.footer-items.footer-left .copyright {
    margin-bottom: 0;
}

.footer-items.footer-left .custom-text {
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 500;
    padding-top: 5px;
}

.footer-items.footer-left .custom-text a:hover {
    text-decoration: underline;
}

.price .sale-date-to {
    display: inline-block;
}

#tab-reviews .commentlist .meta em.woocommerce-review__verified.verified{
    display: none;
}

.cart-panel .widget_shopping_cart_content .buttons {
    display: flex;
    flex-direction: column;
}

.cart-panel .widget_shopping_cart_content .buttons .checkout {
    order: -1;
}

.select2-container .select2-search--dropdown .select2-search__field {
    background: #fff url("../img/search.svg") calc(100% - 15px) center no-repeat;
    border-radius: 0;
}

.konte-woocommerce-alert {
    z-index: 99999;
}

.products-filter-widget .button {
    transition: 0s;
}

.login-panel .panel-content .woocommerce-privacy-policy-text {
    margin: unset;
}

.anr_captcha_field_div {
    display: flex;
    justify-content: center;
}

.woocommerce-form.woocommerce-form-register.register .nsl-container.nsl-container-block .nsl-container-buttons,
.woocommerce-form.woocommerce-form-login.login .nsl-container.nsl-container-block .nsl-container-buttons,
.nsl-custom-login-form-main .nsl-container.nsl-container-block.nsl-container-login-layout-below .nsl-container-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1200px) {
    .main-navigation ul.mega-menu-main {
        min-height: 500px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1700px) {
    .header-left-items {
        order: 1;
        padding-left: 40px;
    }

    @media screen and (max-width: 1440px) {
        .header-left-items {
            padding-left: 20px;
        }
    }

    .header-right-items {
        order: 1;
        flex: 0;
    }

    .header-switcher {
        white-space: nowrap;
    }
}

@media screen and (max-width: 1440px) and (min-width: 992px) {

    .woocommerce div.product .woocommerce-product-details__short-description {
        margin-bottom: 40px;
    }

    .woocommerce div.product .variations select {
        height: 48px;
        font-size: 18px;
    }

    .woocommerce div.product .single_add_to_cart_button {
        line-height: 60px;
        font-size: 18px;
    }

    .header-contents {
        height: 90px !important;
    }

    .header-center-items .site-branding .logo svg {
        width: 160px;
        height: 42px;
    }

    .header-right-items .svg-icon {
        font-size: 1.1rem;
    }

    body.logged-in .header-right-items .header-account a {
        width: 16px;
        height: 16px;
    }

    .header-right-items > * {
        margin-left: 20px;
    }

    .header-right-items .header-cart {
        margin-left: 18px;
    }

    .header-account > a {
        font-size: 14px;
    }

    .header-switcher .list-dropdown .current {
        font-size: 14px;
    }

    .header-switcher .list-dropdown .current .svg-icon {
        font-size: 0.8rem;
        line-height: 1.1;
    }

    .header-switcher .list-dropdown ul li a {
        padding: 6px 15px;
        font-size: 14px;
    }

    .counter {
        right: -2px;
        top: -2px;
    }
}

@media screen and (max-width: 1440px) {
    .nav-menu > li {
        padding: 0 8px;
    }

    .main-navigation li li a {
        font-size: 16px;
    }

    .main-navigation a {
        font-size: 18px;
    }
}


@media screen and (max-width: 1199px) {

    .mobile-menu-hamburger .currency {
        padding-left: 30px;
    }

    .mobile-menu-hamburger .currency .label {
        display: none;
    }

    .woocommerce div.product .variations select {
        height: 48px;
        font-size: 18px;
    }

    .woocommerce div.product .single_add_to_cart_button {
        line-height: 60px;
    }

    .menu-item-has-children {
        position: relative;
    }

    li.menu-item > a {
        position: relative;
    }

    li.menu-item > a:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -4px;
        width: 0;
        border-bottom: 1px solid;
        transition: width 0.05s;
    }

    li.menu-item > a:hover:after,
    li.menu-item > a:focus:after {
        width: 100%;
        left: 0;
    }

    .menu-item-has-children:after {
        content: "+";
        float: right;
        font-weight: 300;
        font-size: 30px;
        line-height: 1;
        position: absolute;
        right: 0;
        top: 15px;
        cursor: pointer;
        z-index: 2;
        width: 40px;
        height: 40px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .menu-item-has-children.open:after {
        content: "\2012";
    }

    .sub-menu .menu-item-has-children:after {
        top: 10px;
    }

    .sub-menu .menu-item-has-children:first-child:after {
        top: -6px;
    }

    .breadcrumbs {
        font-size: 14px;
    }

    .footer-widgets {
        font-size: 18px;
    }

    .footer-widgets .widget li {
        padding: 5px 0;
    }

    .footer-widgets .footer-widgets-area {
        margin-bottom: 30px;
    }

    .footer-main {
        padding-top: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 991px) {
    .social-links-widget.social-links {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .site-header.transparent {
        position: relative;
    }

    .site-header .site-branding .logo svg {
        width: 130px;
        height: 35px;
    }

    .footer-items.footer-right .switchers .list-dropdown.up ul {
        bottom: 100%;
    }

    .footer-items.footer-left .custom-text {
        text-align: center;
    }

    .footer-main .footer-right > *:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {

    .jobs-video {
        margin: -20px;
        width: calc(100% + 40px);
    }

    .mobile-br {
        display: block;
    }

    .mobile-menu-hamburger .currency {
        display: none;
    }

    .products-toolbar.layout-v2 .woocommerce-ordering {
        order: 0;
    }

    .products-toolbar.layout-v2 .woocommerce-result-count {
        padding: 5px 0 0;
    }

    .products-tools {
       padding: 10px 0 28px;
    }

    .products-toolbar.layout-v2 .woocommerce-ordering {
        order: 0;
    }

    .products-toolbar.layout-v2 .woocommerce-result-count {
        padding: 5px 0 0;
    }

    .site-content {
        padding-top: 30px;
    }

    .site-branding .logo img {
        width: 130px;
    }

    ul.products li.product .product-inner .product-summary {
        padding: 10px;
    }

    .slick-slide a {
        margin: 0;
    }

    .konte-container, .konte-container-fluid {
        margin-left: 0;
        margin-right: 0;
    }

    .footer-widgets,
    .footer-main {
        font-size: 18px;
    }

    .footer-main {
        padding-bottom: 0;
    }

    ul.products li.product .product-summary .in-showroom {
        position: relative;
        left: 0;
        bottom: 0;
        font-size: 14px;
    }

    .site-footer.light {
        border-top: none;
    }

    .footer-widgets .widget {
        margin-bottom: 30px;
    }

    .footer-widgets .footer-widgets-area {
        margin-bottom: 15px;
    }

    .footer-widgets .footer-widgets-area-1 {
        position: relative;
    }

    .footer-widgets .footer-widgets-area-1:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 15px;
        right: 15px;
        border-bottom: 1px solid #eee;
    }

    .footer-widgets-area-2, .footer-widgets-area-3, .footer-widgets-area-4 {
        padding-top: 15px;
    }

    .textwidget {
        font-size: 18px;
        line-height: 24px;
    }

    .footer-widgets-area-4 .widget_text {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }

    .footer-widgets-area-4 .widget_text p {
        padding: 18px 0;
        margin: 0;
    }

    .footer-main.site-info hr {
        display: none;
    }

    .footer-main .footer-right {
        padding: 13px 0;
        flex-wrap: wrap;
    }

    .footer-main .footer-right .list-dropdown .current {
        font-weight: normal;
    }

    .footer-main .footer-right .list-dropdown .current:before {
        content: none;
    }

    .footer-main .footer-left {
        border-top: 1px solid #eee;
        padding: 19px 0;
    }

    .footer-items.footer-right .switchers {
        width: 100%;
    }

    .footer-items.footer-right .custom-text {
        font-size: 18px;
        font-weight: 400;
    }

    body .cart-panel .widget_shopping_cart_content .woocommerce-mini-cart-item__thumbnail img {
        width: 120px;
    }

    body .cart-panel .widget_shopping_cart_content .woocommerce-mini-cart-item__name {
        font-size: 16px;
        line-height: 22px;
    }

    body .cart-panel .widget_shopping_cart_content .woocommerce-mini-cart-item__qty {
        width: 100%;
        font-size: 14px;
    }

    body .widget_shopping_cart_content .woocommerce-mini-cart-item__qty .label {
        margin-right: 5px;
    }

    .widget_shopping_cart_content .woocommerce-mini-cart-item__qty select {
        width: 63px;
    }

    .cart-panel .in-showroom {
        min-width: 130px;
        padding: 0 10px;
    }

    body .cart-panel .widget_shopping_cart_content .total {
        font-size: 18px;
    }

    body .cart-panel .widget_shopping_cart_content .buttons .button {
        line-height: 58px;
        transition: 0s;
    }

    .konte-promotion.layout-inline .konte-promotion__text {
        display: inline;
    }

    .konte-promotion.layout-inline .konte-promotion__text br {
        display: block;
    }

    .cart-panel .widget_shopping_cart_content .buttons {
        padding-bottom: 20px;
    }

    .offscreen-panel#cart-panel {
        z-index: 10000;
    }
}

@media screen and (max-width: 560px) {

    .woocommerce div.product .variations select {
        height: 43px;
        font-size: 20px;
        padding: 0 38px 0 12px;
        background-position: calc(100% - 12px) center;
        background-size: 14px auto;
    }

    .woocommerce div.product .single_add_to_cart_button {
        font-size: 18px;
    }

    .mobile-header-icons > * {
        margin-left: 15px;
    }

    .header-search.header-mobile-search {
        position: absolute;
        left: 35px;
    }

    ul.products li.product .woocommerce-loop-product__title {
        font-size: 14px !important;
        line-height: 17px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    ul.products li.product .product-inner .price {
        font-weight: 400;
    }

    ul.products li.product .product-inner .price ins {
        font-weight: 500;
    }

    ul.products li.product .product-inner .price .sale-percent {
        margin-left: 0;
        display: block;
    }

    ul.products li.product .product-inner .price .sale-date-to + .sale-percent {
        display: inline;
        margin-left: 5px;
    }

    ul.products li.product .product-summary .in-showroom {
        line-height: 20px;
    }

    .footer-widgets-area.col-xs-6 {
        width: 100%;
    }

    .footer-items .copyright {
        text-align: left;
        font-size: 16px;
    }

    .footer-items.footer-left .custom-text {
        text-align: left;
    }

    .footer-widgets-area-4 .widget_text p {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-main .footer-right .list-dropdown {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-items.footer-right .custom-text {
        text-align: left;
    }

    div .b24-widget-button-position-bottom-right {
        bottom: 20px;
    }
}
