.page.ls-overflow-visible {
    overflow: hidden !important;
}

.site-content .konte-container-fluid {
    margin: 0;
    padding: 0;
    width: 100%;
}

.button {
    min-width: 286px;
    line-height: 64px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.01em;
}

.mc4wp-form p {
    margin: 0;
}

.ls-gui-element.ls-bottom-nav-wrapper {
    text-align: left;
    padding-left: 12%;
}

.ls-gui-element.ls-bottom-nav-wrapper .ls-thumbnail-hover {
    display: none !important;
}

body .ls-v6 .ls-bottom-slidebuttons a {
    width: 6px !important;
    height: 6px;
    border: none !important;
    background: #CDCFD0;
    border-radius: 10px;
    margin: 0 12px;
}

body .ls-v6 .ls-bottom-slidebuttons a:hover {
    border: none !important;
    background: #9b9b9b;
}

body .ls-v6 .ls-bottom-slidebuttons a.ls-nav-active {
    background: #161616;
}

.konte-banner a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.konte-banner .konte-banner__content {
    z-index: 1;
}

.wpb_text_column.wpb_content_element h2 {
    font-size: 61px;
    margin-top: 0;
    line-height: 1.2;
}

.wpb_text_column.wpb_content_element h5 {
    font-size: 23px;
    margin-bottom: 0;
    margin-top: 100px !important;
}

.wpb_text_column.wpb_content_element p {
    font-size: 26px;
}

.konte-button.button-outline {
    border-width: 2px;
    line-height: 64px;
    font-weight: 500;
}

.konte-button.button-outline:hover {
    background: #161619;
    color: #fff;
    border-color: #161619;
}

.konte-banner__text {
    font-size: 54px !important;
    font-weight: 600;
}

.konte-button.button-underline.medium {
    font-size: 25px;
    margin-top: 10px;
}

.konte-button.button-underline.underline-small:after {
    width: 34px;
}

.konte-banner .button.konte-button {
    background-color: transparent;
    border: 2px solid #FFFFFF;
}

.konte-banner .button.konte-button:hover {
    color: #161619;
    background-color: #fff;
}

.most-wanted-section .konte-banner__content {
    top: 50%;
    transform: translateY(-20%);
}

.home-product-section .vc_col-sm-12 {
    padding: 0 45px;
}

.home-product-section .swiper-pagination {
    text-align: center;
}

/* instagram start */

#sb_instagram .sb_instagram_header {
    display: none;
}

#sb_instagram svg:not(:root).svg-inline--fa {
    display: none !important;
}

#sb_instagram.sbi_col_4 #sbi_images .sbi_item {
    width: 20%;
}

#sb_instagram.sbi_col_4 #sbi_images .sbi_item:nth-child(3) {
    clear: left;
}

#sb_instagram.sbi_col_4 #sbi_images .sbi_item:nth-child(5) {
    clear: left;
    float: none;
    width: 40%;
}

#sb_instagram.sbi_col_4 #sbi_images .sbi_item:nth-child(5) .sbi_photo {
    /*height: calc((100vw - 17px) / 2.5) !important;*/
    height: 0 !important;
    padding-top: 100%;
}

#sb_instagram.sbi_col_4 #sbi_images .sbi_item:nth-child(6) {
    float: revert;
}

#sb_instagram.sbi_col_4 #sbi_images .sbi_item:nth-child(7) {
    float: right;
    margin-top: -20% !important;
}

#sb_instagram .sbi_load_btn {
    display: none !important;
}

#sb_instagram .sbi_follow_btn a {
    margin: 60px;
    width: 286px;
    background: #161616;
    border-radius: 0;
    padding: 19px 14px;

    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

#sb_instagram .sbi_follow_btn a:hover {
    background: #7f8487;
    box-shadow: none;

}

/* instagram finish */

.we-love-it-section {
    display: flex;
}

.we-love-it-section .konte-banner__text {
    font-size: 22px !important;
    font-weight: 500;

}

.we-love-it-section .konte-banner__description {
    font-size: 54px;
    line-height: 1.2;
    margin: -10px 0 20px;
    font-weight: 500;
}

.we-love-it-section .vc_column-inner {
    height: 100%;
}

.we-love-it-section .wpb_wrapper {
    height: 100%;
}

.video-element {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.video-element:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.video-preview {
    width: 100%;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    text-align: center;
    color: #fff;
}

.video-preview h4 {
    margin: 0;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 51px;
    font-weight: 500;
}

.video-preview .play-button {
    position: relative;
    width: 123px;
    height: 123px;
    margin: 0 auto 30px;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
}

.video-preview .play-button:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-left: 29px solid #fff;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
}

.video-element video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#kapsulaGirls .wpb_image_grid .wpb_image_grid_ul {
    height: auto !important;
    margin-left: -20px;
    margin-right: -20px;
    padding-bottom: 50px;
}

#kapsulaGirls .wpb_image_grid .wpb_image_grid_ul .isotope-item {
    position: static !important;
    padding: 80px;
    background: #EBEBEB;
    box-shadow: 0 140px 0 #EBEBEB;
    margin: 0;
}

#kapsulaGirls .slick-track {
    overflow: hidden;
}

#kapsulaGirls .slick-slide {
    margin: 0 20px;
}

#kapsulaGirls .slick-dots {
    bottom: 0;
}

.review-slider .vc_images_carousel .vc_carousel-indicators li {
    width: 6px;
    height: 6px;
    margin: 0 10px;
    background: rgba(131, 136, 137, 0.2);
    border: none;
    border-radius: 50%;
}

.review-slider .vc_images_carousel .vc_carousel-indicators li.vc_active {
    box-shadow: 0 0 0 4px rgba(131, 136, 137, 0.2);
    background: #161616;
}

.review-slider .slick-slide {
    padding: 20px;
}

.pre-footer-subscrible {
    margin-top: 100px;
    padding-top: 150px;
    padding-bottom: 40px;
    min-height: 760px;
}

.pre-footer-subscrible .vc_parallax-inner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.pre-footer-subscrible .wpb_text_column {
    width: 950px;
    max-width: 100%;
    margin: 0 auto;
    color: #fff;
}

.pre-footer-subscrible .wpb_text_column h5 {
    font-size: 23px;
    line-height: 30px;
    font-weight: 500;
    margin-top: 0 !important;
}

.pre-footer-subscrible .wpb_text_column h2 {
    margin-bottom: 35px;
}

.pre-footer-subscrible .wpb_text_column h4 {
    font-size: 26px;
    line-height: 1.2;
    font-weight: normal;
    letter-spacing: -0.01em;
    margin-top: 0;
    margin-bottom: 35px;
}

.pre-footer-subscrible .mc4wp-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pre-footer-subscrible .mc4wp-form-fields {
    width: 100%;
}

.pre-footer-subscrible .mc4wp-form input[type="email"] {
    width: calc(100% - 286px - 40px);
    margin-right: 40px;
    background: transparent;
}

.pre-footer-subscrible .mc4wp-form input[type="submit"] {
    width: 286px;
}

.pre-footer-subscrible .mc4wp-form input[type="email"]:not(:focus)::-webkit-input-placeholder{
    color: #fff;
    opacity: 1;
}

.pre-footer-subscrible .mc4wp-form input[type="email"]:not(:focus):-ms-input-placeholder{
    color: #fff;
    opacity: 1;
}

.pre-footer-subscrible .mc4wp-form input[type="email"]:not(:focus)::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.pre-footer-subscrible .mc4wp-form input[type="email"]:not(:focus)::placeholder {
    color: #fff;
    opacity: 1;
}

.pre-footer-subscrible .mc4wp-form input[type="email"] {
    font-size: 20px;
    padding: 16px 30px;
    color: #fff;
    border: 2px solid #FFFFFF;
    height: 68px;
    width: 100%;
    max-width: 100%;
    background-clip: border-box;
}

.pre-footer-subscrible .mc4wp-form input[type="email"]:focus {
    background-color: #fff;
    color: #161616;
}

.pre-footer-subscrible .mc4wp-form input[type="submit"] {
    height: 68px;
    color: #161616;
    background-color: #fff;
    font-size: 20px;
    margin-top: 0;
    float: right;
}

.pre-footer-subscrible .mc4wp-form .subscription-submit:not(.active) input[type="submit"]:hover {
    color: #fff;
    background-color: #161616;
}

.pre-footer-subscrible .wpcf7-form-control-wrap {
    width: calc(100% - 320px);
    float: left;
}

.wpb_text_column.wpb_content_element h6 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.wpb_text_column.wpb_content_element h1 {
    font-size: 54px;
    font-weight: 600;
    margin-top: 30px !important;
}

ul.products li.product .button {
    min-width: auto;
}

.slider-social {
    margin: 10px 0;
    font-size: 18px;
}

.slider-link {
    display: inline-block;
    padding-bottom: 10px !important;
    position: relative;
}

.slider-link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 2px solid;
    width: 20px;
    transition: all 0.4s ease;
}

.slider-link:hover:after {
    width: 100%;
}

.slider-line {
    width: 20px;
    border-bottom: 2px solid;
}

.modal-content .add-to-wishlist-button {
    font-size: 0.875rem;
    min-width: 0;
}

#buyerChoice,
#recentlyAdded,
#trendingNow,
#feminineBrands {
    margin-left: 0;
    margin-right: 0;
}

#buyerChoice .slick-slide .vc_column-inner,
#recentlyAdded .slick-slide .vc_column-inner,
#trendingNow .slick-slide .vc_column-inner,
#feminineBrands .slick-slide .vc_column-inner {
    padding: 0;
}

.insta-text.wpb_text_column.wpb_content_element h6 a {
    text-decoration: underline;
}

/*.pre-footer-subscrible .wpcf7 form .wpcf7-response-output {
    font-size: 1.25rem;
    padding: 30px 40px 30px 120px;
    position: relative;
    margin-left: 0;
}*/

.pre-footer-subscrible .wpcf7 form.sent .wpcf7-response-output {
    background: none;
    border: 0;
    margin: 0;
    color: #468847;
    font-size: 26px;
    padding: 0;
}

.pre-footer-subscrible .wpcf7 form.invalid .wpcf7-response-output {
    background: none;
    border: 0;
    margin: 0;
    color: #cd5c5c;
    font-size: 26px;
    padding: 0;
}

.subscription-submit {
    position: relative;
}

.pre-footer-subscrible span.ajax-loader {
    transform: none;
}

.pre-footer-subscrible .wpcf7-not-valid-tip {
    display: none;
}

.pre-footer-subscrible span.ajax-loader:before {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
    padding: 0;
}

/*.pre-footer-subscrible .wpcf7 form.sent .wpcf7-response-output:before,
.pre-footer-subscrible .wpcf7 form.sent .wpcf7-response-output:after {
    content: "";
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    border: solid 2px #fff;
}

.pre-footer-subscrible .wpcf7 form.sent .wpcf7-response-output:before {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.pre-footer-subscrible .wpcf7 form.sent .wpcf7-response-output:after {
    width: 20px;
    height: 10px;
    border-top: 0;
    border-right: 0;
    transform: translateY(-65%) rotate(-45deg);
    left: 41px;
}*/

@media screen and (min-width: 992px) {
    #home-content p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1600px){
    .konte-banner__text {
        font-size: 46px !important;
    }

    .we-love-it-section .konte-banner__description {
        font-size: 46px;
    }

    #kapsulaGirls .wpb_image_grid .wpb_image_grid_ul .isotope-item {
        padding: 60px;
    }
}

@media screen and (max-width: 1440px) and (min-width: 992px) {
    .button {
        min-width: 200px;
        line-height: 51px;
        padding: 0 10px;
        font-size: 16px;
    }

    .konte-button.button-outline {
        line-height: 51px;
    }

    .button.medium {
        padding: 0 20px;
    }

    #sb_instagram .sbi_follow_btn a {
        padding: 12px 15px;
        width: 200px;
        font-size: 16px;
    }

    ul.products li.product .product-inner .buttons .add_to_cart_button {
        font-size: 12px;
    }

    .konte-banner__content {
        padding: 30px;
    }

    .wpb_text_column.wpb_content_element h1 {
        font-size: 42px;
    }
    .wpb_text_column.wpb_content_element p {
        font-size: 20px;
    }

    .wpb_text_column.wpb_content_element h2 {
        font-size: 48px;
    }

    .wpb_text_column.wpb_content_element h5 {
        font-size: 18px;
    }

    .wpb_text_column.wpb_content_element h6 {
        font-size: 16px;
    }

    .konte-button.button-underline.medium {
        font-size: 20px;
    }

    .video-preview h4 {
        font-size: 32px;
    }

    .we-love-it-section .konte-banner__description {
        font-size: 38px;
    }

    .we-love-it-section .konte-banner__text {
        font-size: 18px !important;
    }

    .video-preview .play-button {
        width: 100px;
        height: 100px;
    }

    .pre-footer-subscrible .wpb_text_column {
        width: 700px;
    }

    .pre-footer-subscrible {
        padding-top: 100px;
        min-height: 540px;
    }

    .pre-footer-subscrible .mc4wp-form input[type="email"] {
        height: 55px;
        font-size: 16px;
    }

    .pre-footer-subscrible .mc4wp-form input[type="submit"] {
        width: 200px;
        height: 55px;
        padding: 0 10px;
        font-size: 16px !important;
    }

    .pre-footer-subscrible .wpcf7-form-control-wrap {
        width: calc(100% - 230px);
    }

    .pre-footer-subscrible .wpb_text_column h5 {
        font-size: 16px;
        line-height: 24px;
    }

    .pre-footer-subscrible .wpb_text_column h2 {
        font-size: 44px;
        margin-bottom: 25px;
    }

    .pre-footer-subscrible .wpb_text_column h4 {
        font-size: 19px;
    }
}

@media screen and (max-width: 1440px) {
    #kapsulaGirls .wpb_image_grid .wpb_image_grid_ul .isotope-item {
        padding: 40px;
    }
}

@media screen and (max-width: 1200px){
    .review-slider .slick-slide .wpb_column {
        padding: 40px;
    }
}
@media screen and (max-width: 991px){
    .wpb_text_column.wpb_content_element h1 {
        font-size: 35px;
    }

    .wpb_text_column.wpb_content_element h5 {
        font-size: 18px;
    }

    .wpb_text_column.wpb_content_element h2 {
        font-size: 45px;
    }

    .wpb_text_column.wpb_content_element p {
        font-size: 22px;
    }

    .pre-footer-subscrible {
        padding-left: 30px;
        padding-right: 30px;
    }

    .pre-footer-subscrible .wpcf7-form p:nth-child(2) {
        display: none;
        width: calc(100% - 250px - 40px);
    }

    .pre-footer-subscrible .wpcf7-form p:nth-child(3) {
        width: 200px;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .wpb_text_column.wpb_content_element h5 {
        margin-top: 50px !important;
    }

    .konte-banner__text {
        font-size: 32px !important;
    }

    .we-love-it-section .konte-banner__description {
        font-size: 32px;
    }

    .konte-button.button-underline.medium {
        font-size: 20px;
    }

    .konte-banner__content {
        padding: 10px;
    }

    .we-love-it-section .konte-banner__text {
        font-size: 18px !important;
        margin-bottom: 10px;
    }

    .we-love-it-section > .wpb_column:first-child > .vc_column-inner {
        padding: 0;
    }

    .video-preview .play-button {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }

    .video-preview h4 {
        font-size: 22px;
        line-height: 30px;
    }

    #kapsulaGirls .slick-slide {
        margin: 0 15px;
    }

    #kapsulaGirls .wpb_image_grid .wpb_image_grid_ul .isotope-item {
        padding: 15px;
    }

    #kapsulaGirls .wpb_image_grid .wpb_image_grid_ul {
        margin-left: -15px;
        margin-right: -15px;
    }

    .pre-footer-subscrible {
        min-height: 460px;
        padding-top: 0;
    }
}

@media screen and (max-width: 767px){
    .pre-footer-subscrible .wpcf7 form .wpcf7-response-output {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #home-content p {
        margin-top: 0;
        margin-bottom: 16px;
        line-height: 20px;
    }

    .entry-content {
        overflow: hidden !important;
    }
    
    .wpb_text_column.wpb_content_element h1 {
        font-size: 26px;
        line-height: 33px;
    }
    .wpb_text_column.wpb_content_element p,
    .wpb_text_column.wpb_content_element h2 {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    .wpb_text_column.wpb_content_element h6 {
        font-size: 14px;
    }

    .insta-text.wpb_text_column.wpb_content_element h6 {
        font-weight: 500;
        padding: 0 15px;
    }

    .button {
        min-width: 200px;
        line-height: 46px;
        font-size: 16px;
    }

    .konte-button.button-outline {
        line-height: 48px;
        font-weight: 400;
        border-width: 1px;
    }

    #sb_instagram .sbi_follow_btn a {
        width: 200px;
        line-height: 50px;
        font-size: 16px;
        padding: 0 15px;
        margin: 40px 10px 10px;
    }

    .home-product-section .vc_col-sm-12 {
        padding: 0 20px;
    }

    .wpb_text_column.wpb_content_element h2 {
        font-size: 35px;
    }

    .wpb_text_column.wpb_content_element p,
    .konte-button.button-underline.medium {
        font-size: 18px;
    }

    .wpb_text_column.wpb_content_element h5 {
        margin-top: 60px !important;
        font-weight: 400;
    }

    .slick-slider .slick-dots {
        bottom: -40px;
    }

    .pre-footer-subscrible {
        margin-top: 60px;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 400px;
    }

    .pre-footer-subscrible .wpcf7-form {
        justify-content: center;
    }

    .pre-footer-subscrible .wpcf7-form p:nth-child(2) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
    }

    .pre-footer-subscrible .wpb_text_column h4 {
        font-size: 20px;
    }

    .pre-footer-subscrible .wpcf7-form p:nth-child(3) input[type="submit"],
    .pre-footer-subscrible .wpcf7-form p:nth-child(2) input[type="email"] {
        font-size: 16px;
        text-align: center;
        height: 50px;
        line-height: 50px;
    }

    .pre-footer-subscrible .wpb_text_column h4 {
        margin-bottom: 15px;
    }

    .we-love-it-section {
        display: block;
    }

    .video-element {
        margin-top: 30px;
    }
    .video-element video {
        position: static;
        min-height: 0;
        width: 100%;
        transform: none;
        display: block;
    }

    .review-slider .slick-slide .wpb_column {
        padding: 10px;
    }

    #sb_instagram.sbi_col_4 #sbi_images .sbi_item:not(:nth-child(5)) {
        display: none;
    }

    #sb_instagram.sbi_col_4 #sbi_images .sbi_item:nth-child(5) {
        width: 100%;
    }

    .home-product-slider .woocommerce.columns-5{
        margin-left: -5px;
        margin-right: -5px;
        overflow: hidden;
    }

    .video-element {
        margin-top: 50px;
    }

    #home-content {
        padding: 0 15px;
    }

    .konte-banner__text {
        font-size: 50px !important;
        font-weight: 500;
    }

    #trendingNow .konte-banner .button.konte-button {
        margin-top: 10px;
        padding: 0 0 5px;
        text-transform: none;
        border: none;
        line-height: 28px;
        min-width: 0;
    }

    #trendingNow .konte-banner .button.konte-button:after {
        content: "";
        border-bottom: 2px solid ;
        position: absolute;
        bottom: 0;
        width: 34px;
        transition: width 0.4s;
        left: 50%;
        transform: translateX(-50%);
    }

    #trendingNow .konte-banner .button.konte-button:hover {
        background-color: transparent;
        color: #fff;
    }

    #trendingNow .konte-banner .button.konte-button:hover:after {
        width: 100%;
    }

    .home-product-section .swiper-pagination {
        text-align: left;
    }
}

@media screen and (max-width: 560px){
    .insta-text.wpb_text_column.wpb_content_element h6 {
        padding: 0 30px;
        font-size: 13px;
    }

    .pre-footer-subscrible .mc4wp-form input[type="email"] {
        height: 50px;
        text-align: center;
        font-size: 16px;
    }

    .pre-footer-subscrible .mc4wp-form input[type="submit"] {
        float: none;
        width: 200px;
        height: 50px;
        margin-top: 30px;
        padding: 0 15px;
        font-size: 16px !important;
        line-height: 50px;
    }

    .pre-footer-subscrible .mc4wp-form {
        justify-content: center;
        margin-bottom: 40px;
    }

    .pre-footer-subscrible .wpcf7-form-control-wrap {
        width: 100%;
        float: none;
    }

    .pre-footer-subscrible .wpcf7 form.invalid .wpcf7-response-output,
    .pre-footer-subscrible .wpcf7 form.sent .wpcf7-response-output {
        font-size: 16px;
        text-align: center;
    }

    .pre-footer-subscrible .wpcf7-form {
        margin-bottom: 40px !important;
    }

    .pre-footer-subscrible span.ajax-loader {
        height: 50px;
        transform: translateY(-100%);
    }

    .pre-footer-subscrible .mc4wp-form-fields {
        margin-bottom: 40px;
        text-align: center;
    }

    body .wpb_content_element {
        margin-bottom: 25px;
    }

    #kapsulaGirls .wpb_image_grid .wpb_image_grid_ul .isotope-item {
        padding: 20px;
    }

    .wpb_text_column.wpb_content_element h5 {
        font-size: 13px;
    }

    .wpb_text_column.wpb_content_element h2 {
        font-size: 25px;
    }

    .wpb_text_column.wpb_content_element p {
        font-size: 16px;
    }

    .pre-footer-subscrible .wpb_text_column h4 {
        font-size: 16px;
    }

    .most-wanted-section .konte-banner__content {
        transform: translateY(-50%);
    }

    .pre-footer-subscrible {
        padding: 20px 20px 0;
        min-height: 0;
    }

    .pre-footer-subscrible .wpb_text_column h5 {
        margin-top: 0 !important;
        line-height: 17px;
    }

    .pre-footer-subscrible .wpb_text_column h2 {
        font-size: 30px;
        margin-bottom: 60px;
    }

    .pre-footer-subscrible .vc_parallax-inner {
        background-image: url("../img/pre-footer-mobile-bg.jpg") !important;
    }

    .video-preview h4 {
        font-size: 17px;
        line-height: 22px;
    }

    .video-preview .play-button {
        width: 52px;
        height: 52px;
        margin-bottom: 10px;
        border-width: 1px;
    }

    .video-preview .play-button:before {
        border-left-width: 12px;
        border-top-width: 7px;
        border-bottom-width: 7px;
    }

    #trendingNow .konte-banner img {
        height: 75vw;
        object-fit: cover;
    }

    #buyerChoice .konte-banner img {
        object-fit: cover;
        height: 125vw;
    }

    #recentlyAdded .konte-banner img {
        object-fit: cover;
        height: 125vw;
    }

    .slider-link {
        padding-bottom: 5px !important;
    }
}