.nsl-custom-login-form-main .nsl-container.nsl-container-block.nsl-container-login-layout-below .nsl-container-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nsl-custom-login-form-main div.nsl-container-block[data-align="left"] .nsl-container-buttons {
    align-items: center;
}