.page-template-lookbook-container .entry-content {
    font-size: 24px;
}

.page-template-lookbook-container .site-content {
    padding-top: 0;
}

.page-template-lookbook-container .site-content-container {
    width: 100%;
}

.lookbook-banner p {
    margin-bottom: 0;
    font-size: 18px;
}

.lookbook-banner .elementor-widget-wrap {
    padding: 30px;
}

.lookbook-banner h1 {
    margin: 0 0 20px;
    font-size: 90px;
    font-weight: 500;
    line-height: 1.2;
}

.lookbook-banner h4 {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
}

.lookbook-about {
    margin-top: 80px;
    width: 1430px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 100%;
}

.lookbook-about h2 {
    font-size: 36px;
    margin-bottom: 25px;
    line-height: 1.2;
}

.lookbook-about .lookbook-about-with-padding {
    padding-left: 100px;
}

.small-text {
    font-size: 18px;
}

.underline {
    text-decoration: underline;
}

.lookbook-grid {
    margin-top: 120px;
}

.lookbook-grid .add-to-wishlist-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.lookbook-grid .product-inner:hover .add-to-wishlist-button {
    z-index: 1;
}

.lookbook-grid .product-summary .add-to-wishlist-button {
    display: none;
}

.lookbook-grid .product-summary .product-sizes {
    text-align: center;
}

.lookbook-headline {
    padding-top: 110px;
    padding-bottom: 55px;
}

.lookbook-headline h2 {
    font-size: 60px;
    margin: 0 0 25px;
}

.lookbook-banners a,
.lookbook-banners a:hover {
    color: #fff;
}

.lookbook-grid .swiper-pagination {
    text-align: center;
}

.product-summary .product-sizes,
.product-summary .in-showroom {
    font-size: 1rem;
}

.konte-banner__content {
    color: #fff;
}

.konte-button {
    font-size: 16px;
}

@media screen and (max-width: 991px) {
    .lookbook-banner h1 {
        font-size: 60px;
    }

    .lookbook-about .lookbook-about-with-padding {
        padding-left: 40px;
    }

    .lookbook-about h2,
    .lookbook-headline h2 {
        font-size: 24px;
    }
}

@media screen and (max-width: 767px) {
    .page-template-lookbook-container .lookbook-banner {
        background-position: right !important;
    }
    
    .lookbook-banner h1 {
        font-size: 40px;
    }

    .lookbook-about,
    .lookbook-grid {
        margin-top: 50px;
    }

    .lookbook-headline {
        padding-top: 60px;
        padding-bottom: 0;
    }

    .lookbook-about h2,
    .lookbook-headline h2 {
        font-size: 22px;
    }

    .lookbook-about .wpb_single_image {
        text-align: center !important;
    }

    .lookbook-about .lookbook-about-with-padding {
        padding-left: 0 !important;
    }

    .lookbook-banners-item {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 575px) {
    .page-template-lookbook-container .entry-content {
        font-size: 18px;
    }

    .lookbook-banner h4 {
        font-size: 16px;
    }

    .lookbook-about h2,
    .lookbook-headline h2 {
        line-height: 1.2;
        font-size: 22px;
    }

    .lookbook-headline h4 {
        font-size: 18px;
    }
}