.product-toolbar .breadcrumbs {
    z-index: 22;
}

.post-password-form {
    margin-top: 150px;
}

.product-video {
    width: 100%;
    margin-top: 20px;
}

.woocommerce div.product.layout-v5 .woocommerce-product-gallery__image img {
    width: 100%;
}

.woocommerce div.product .woocommerce-product-gallery {
    padding-bottom: 20px;
}

.woocommerce div.product.layout-v5 .add-to-wishlist-button {
    position: unset;
    margin: 0 20px;
    height: 80px;
    line-height: 80px;
    flex: none;
    background: transparent;
    color: #000;
    z-index: 1;
}

.woocommerce div.product.layout-v5 .add-to-wishlist-button svg {
    width: 34px;
    height: 34px;
    color: #000;
}

.variations_form .variations {
    display: none;
}

.woocommerce-variation-availability {
    display: none;
}

.woocommerce div.product.layout-v5 .summary {
    padding-left: 174px;
    padding-right: calc(50vw - 630px - 174px) !important;
}

.woocommerce div.product.layout-v5 .summary-inner {
    height: auto;
}

.woocommerce div.product.layout-v5 .product-toolbar {
    padding-bottom: 85px;
}

.woocommerce div.product .product_title {
    font-size: 2.75rem;
    line-height: 1.27;
}

.price .sale-date-to {
    color: #ED672C;
    font-size: 18px;
}

.woocommerce div.product .price {
    width: 100%;
    flex-flow: row nowrap;
    margin: 12px 0 53px;
    font-size: 1.75rem;
    line-height: 25px;
}

.woocommerce div.product .price > span {
    flex-flow: row nowrap;
}

.woocommerce div.product .price del {
    font-size: 18px;
    line-height: 25px;
    margin: 3px 10px 0 10px;
}

.woocommerce div.product .price + .open-popup-link {
    margin-top: 0 !important;
    margin-bottom: 15px;
    font-size: 19px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #838889;
}

.woocommerce div.product .delivery-note-short {
    float: right;
    margin-bottom: 15px;
    font-size: 19px;
    line-height: 25px;
    letter-spacing: 0.01em;
}

.woocommerce div.product .delivery-note-short i {
    margin-right: 10px;
    font-size: 23px;
    vertical-align: sub;
}

.woocommerce div.product .variations {
    margin-bottom: 15px;
}

.woocommerce div.product .variations td {
    padding: 0;
}

.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 25px;
}

.woocommerce div.product .woocommerce-review-link {
    font-size: 16px;
    font-weight: normal;
}

.woocommerce div.product .star-rating .svg-icon {
    font-size: 13px;
}

.woocommerce div.product .woocommerce-variation-description,
.woocommerce div.product .woocommerce-product-details__short-description {
    font-size: 19px;
    line-height: 29px;
}

.woocommerce div.product .woocommerce-product-details__short-description {
    margin-bottom: 50px;
}

.woocommerce div.product .product_meta {
    font-size: 16px;
    line-height: 25px;
    text-transform: none;
}

.woocommerce div.product .product_meta .posted_in {
    display: flex;
}

.woocommerce div.product .product_meta .posted_in .term-links {
    width: calc(100% - 100px);
}

.woocommerce div.product .product_meta .label {
    min-width: 105px;
    text-transform: uppercase;
}

.woocommerce div.product .product_meta a {
    text-decoration: underline;
}

.woocommerce div.product .product_meta a:hover {
    text-decoration: none;
}

.woocommerce div.product.layout-v5 .woocommerce-tabs {
    margin-top: 25px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-top: 2px solid #DCE1E2;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    font-size: 16px;
    line-height: 25px;
    text-align: right;
    letter-spacing: -0.02em;
    font-weight: 500;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
    color: #838889;
}

.product-summary .variations option {
    text-transform: unset;
}

.product-summary .variations option.in-showroom {
    color: #167736;
}

.product-summary .variations option.sold {
    color: #838889;
}

.recent_products h2,
.products.related h2 {
    font-weight: 300;
    font-size: 36px;
}

.woocommerce div.product .variations_button > .open-popup-link {
    display: none;
}

.woocommerce div.product .product-size-guide {
    float: left;
    width: auto;
}

.woocommerce div.product .size-guide-button {
    font-size: 19px;
    font-weight: 400;
    text-transform: initial;
    color: #838889;
}

.woocommerce div.product .price + .product-size-guide {
    margin-top: 0;
    margin-bottom: 10px;
}

.ask-button {
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    width: 100%;
    order: 1;
    font-size: 15px;
    font-weight: 500;
    color: #656464;
    margin-bottom: 20px;
    display: none;
}

.woocommerce-tabs ul.tabs li.reviews_tab {
    display: none;
}

.outofstock .stock {
    width: 100%;
    overflow: hidden;
}

@media screen and (min-width: 992px) {
    .woocommerce div.product.layout-v5 .product-gallery-summary .woocommerce-product-gallery__image {
        width: 100%;
        padding: 20px 0 0;
    }
}

@media screen and (max-width: 1750px) {
    .woocommerce div.product.layout-v5 .summary {
        padding-left: 120px;
        padding-right: calc(50vw - 630px - 110px) !important;
    }
}

@media screen and (max-width: 1600px) {
    .woocommerce div.product.layout-v5 .summary {
        padding-left: 60px;
        padding-right: calc(50vw - 630px - 60px) !important;
    }
}

@media screen and (max-width: 1440px) and (min-width: 992px) {
    .woocommerce div.product.layout-v5 .summary {
        padding-left: 9%;
        padding-right: 9% !important;
    }

    .breadcrumbs {
        font-size: 14px;
    }

    .woocommerce div.product .product_title {
        font-size: 32px;
    }

    .woocommerce div.product .price del {
        font-size: 16px;
    }

    .woocommerce div.product .price {
        margin-top: 0;
        margin-bottom: 40px;
        font-size: 22px;
    }

    .woocommerce div.product .delivery-note-short {
        margin-bottom: 10px;
        font-size: 16px;
    }

    .woocommerce div.product .delivery-note-short i {
        font-size: 20px;
    }

    .woocommerce div.product .variations {
        margin-bottom: 10px;
    }

    .woocommerce div.product .cart {
        margin-bottom: 48px;
    }

    .woocommerce div.product.layout-v5 .add-to-wishlist-button {
        line-height: 60px;
        height: 60px;
    }

    .woocommerce div.product.layout-v5 .add-to-wishlist-button svg {
        width: 30px;
        height: 30px;
    }

    .woocommerce div.product .woocommerce-product-rating {
        margin-bottom: 15px;
    }

    .woocommerce div.product .woocommerce-variation-description,
    .woocommerce div.product .woocommerce-product-details__short-description {
        font-size: 17px;
        line-height: 25px;
    }

    .woocommerce div.product .size-guide-button {
        font-size: 18px;
    }
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
    .woocommerce div.product.layout-v5 .summary {
        padding-left: 5%;
        padding-right: 5% !important;
    }

    .woocommerce div.product .size-guide-button {
        font-size: 16px;
    }
}

@media screen and (max-width: 1439px) {
    .woocommerce div.product .price + .open-popup-link,
    .woocommerce div.product .delivery-note-short {
        font-size: 18px;
    }
}

@media screen and (max-width: 1199px) {
    .woocommerce div.product.layout-v5 .product-toolbar {
        padding-bottom: 50px;
    }

    .woocommerce div.product .price {
        margin: 12px 0 35px;
    }

    .woocommerce div.product .price + .open-popup-link,
    .woocommerce div.product .delivery-note-short {
        font-size: 16px;
    }

    .woocommerce div.product.layout-v5 .add-to-wishlist-button {
        height: 60px;
        line-height: 60px;
        font-size: 18px;
    }

    .woocommerce div.product .cart {
        margin-bottom: 30px;
    }

    .woocommerce div.product .woocommerce-product-rating {
        margin-bottom: 15px;
    }

    .woocommerce div.product .woocommerce-variation-description,
    .woocommerce div.product .woocommerce-product-details__short-description {
        font-size: 16px;
        line-height: 20px;
    }

    .woocommerce div.product .woocommerce-product-details__short-description {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 991px) {
    .woocommerce div.product .woocommerce-product-gallery {
        padding-bottom: 0;
    }

    .woocommerce div.product.layout-v5 .summary {
        padding-right: 60px !important;
    }
}
@media screen and (max-width: 767px) {

    .woocommerce div.product .price {
        font-size: 1.25rem;
    }

    .woocommerce div.product.layout-v5 .summary {
        padding: 40px 20px 0 20px !important;
    }

    .woocommerce div.product.layout-v5 .woocommerce-tabs {
        margin-top: 20px;
        padding-top: 0;
        border-top: none;
    }

    .related.products,
    .recent_products {
        overflow: hidden;
    }
}

@media screen and (max-width: 560px) {
    .price .sale-date-to {
        font-size: 14px;
    }

    .woocommerce div.product .product-summary {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .woocommerce div.product .product_title {
        font-size: 1.9rem;
    }

    .woocommerce div.product .price ins {
        font-size: 20px;
    }

    .woocommerce div.product .price del {
        font-size: 14px;
        margin-left: 15px;
    }

    .woocommerce div.product .price + .open-popup-link {
        text-decoration: underline;
    }

    .woocommerce div.product .delivery-note-short {
        width: 100%;
        text-align: center;
        order: 2;
        margin-bottom: 20px;
    }

    .woocommerce div.product .delivery-note-short i {
        font-size: 18px;
        vertical-align: middle;
    }


    .woocommerce div.product.layout-v5 .cart {
        position: relative;
        margin-bottom: 20px;
    }

    .woocommerce div.product.layout-v5 .add-to-wishlist-button {
        width: 38px;
        position: absolute;
        margin: 0;
        line-height: 25px;
        height: 25px;
        right: 0;
        top: -40px;
    }

    .woocommerce div.product.layout-v5 .add-to-wishlist-button svg {
        width: 22px;
        height: 22px;
    }

    .woocommerce div.product .woocommerce-variation-description,
    .woocommerce div.product .woocommerce-product-details__short-description {
        font-size: 18px;
        line-height: 28px;
    }

    .woocommerce div.product .woocommerce-product-details__short-description {
        margin-bottom: 0;
        padding-bottom: 40px;
        border-bottom: 1px solid #eee;
        order: 2;
    }

    .woocommerce div.product .woocommerce-product-rating {
        display: none;
    }

    .woocommerce-tabs ul.tabs li.reviews_tab {
        display: block;
    }

    .woocommerce div.product.layout-v5 .product_meta {
        padding: 30px 0 25px 0;
        border-bottom: 1px solid #eee;
        font-weight: normal;
        order: 2;
    }

    .woocommerce div.product.layout-v5 .woocommerce-tabs {
        margin-top: 25px;
    }

    .woocommerce div.product .woocommerce-tabs ul.tabs {
        display: flex;
        flex-direction: column;
    }

    .woocommerce div.product.layout-v5 .woocommerce-tabs .tabs li,
    .woocommerce div.product.layout-v5 .woocommerce-tabs .tabs li:last-child {
        margin-bottom: 35px;
    }

    .woocommerce div.product.layout-v5 .woocommerce-tabs .tabs li.reviews_tab {
        order: -1;
    }

    .woocommerce div.product .woocommerce-tabs ul.tabs li a {
        font-size: 18px;
        font-weight: 500;
    }

    .single-product.product-v5 .related {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .products.viewed h2,
    .products.related h2 {
        font-size: 26px;
    }

    .woocommerce div.product .size-guide-button {
        font-size: 16px;
        text-decoration: underline;
    }

    .recent_products h2, .products.related h2 {
        font-size: 26px;
    }
}

@media screen and (max-width: 440px) {
    .woocommerce-product-gallery .woocommerce-product-gallery__image a {
        height: 85vh;
        width: 100%;
    }

    .woocommerce-product-gallery .woocommerce-product-gallery__image a img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .woocommerce-product-gallery .product-video {
        height: 85vh;
        width: 100vw;
        object-fit: cover;
        float: left;
        margin: 0;
    }
}

.must-log-in a {
    text-decoration: underline;
}

.must-log-in a:hover {
    text-decoration: none;
}

.sticky {
    position: fixed;
    z-index: 31;
}
.stop {
    position: relative;
    z-index: 31;
}